{
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"no-console": "off",
		"no-debugger": "off",
		"no-unused-vars": "off",
		"eqeqeq": "error",
		"no-useless-escape": "off",
		"quotes": [
			"error",
			"single",
			{
				"avoidEscape": false
			}
		],
		"max-len": [
			2,
			{
				"code": 130,
				"tabWidth": 4,
				"ignoreUrls": true,
				"ignoreComments": true
			}
		],
		"curly": [
			"error",
			"all"
		]
	},
	"extends": "eslint:recommended",
	"globals": {
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"es2022": true,
		"mocha": true,
		"node": true
	}
}
